<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.EnterpriseMapper">
 <!-- 配置一对多映射-->
<!--<resultMap type="com.neusoft.po.Address" id="address_freelesson_map">
	<id property="aid"  column="aid"/>
	<result property="branch" column="branch"/>
	<result property="address" column="address"/>
	<result property="tel" column="tel"/>
	<result property="longtitude" column="longtitude"/>
	<result property="latitude" column="latitude"/>
	<collection property="freelistens" ofType="com.neusoft.po.FreeListen" >
			<id property="id"  column="id"/>
			<result property="title" column="title"/>
			<result property="imgUrl" column="imgurl"/>
			<result property="fdesc" column="fdesc"/>
			<result property="status" column="status"/>
			<result property="pubTime" column="pubtime"/>
			<result property="branchid" column="branchid"/>
	</collection>
</resultMap> -->

<!-- 配置多对一映射 -->
<!--  <resultMap type="com.neusoft.po.FreeListen" id="freelesson_address_map">
			<id property="id"  column="id"/>
			<result property="title" column="title"/>
			<result property="imgUrl" column="imgurl"/>
			<result property="fdesc" column="fdesc"/>
			<result property="status" column="status"/>
			<result property="pubTime" column="pubtime"/>
			<result property="branchid" column="branchid"/>
			<association property="address" javaType="com.neusoft.po.Address"  >
					<id property="aid"  column="aid"/>
					<result property="branch" column="branch"/>
					<result property="address" column="address"/>
					<result property="tel" column="tel"/>
					<result property="longtitude" column="longtitude"/>
					<result property="latitude" column="latitude"/>
			</association>
</resultMap> -->
		<select id="getAllAddresses" resultType="com.neusoft.po.Address">
				select * from address
		</select>
		<!-- <select id="getAllAddressWithFreeLessons"  resultMap="address_freelesson_map">
				select address.*,freelisten.* from address right join freelisten on address.aid = freelisten.branchid
		</select> -->
</mapper>
