<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.OrderForCourseMapper">
	
	<insert  id="addBuyOrder" parameterType="com.neusoft.po.Sorder" >
		insert into sorder(lid,total,status,orderTime,qid,transactionId,tel,username ,branchname,user_coupon_id) 
		values (#{lid},#{total},#{status},STR_TO_DATE(#{orderTime},'%Y-%m-%d %H:%i:%s'),#{qid},#{transactionId},#{tel},#{username},#{branchname},#{coupon})
	</insert>
</mapper>