.user-reply {
	display:none;
	width:100%;
	height:50px;
}
.comment{
	padding-left: 2%;
	padding-bottom: 1%;
	outline: none;
	border: none;
	margin-top: 1px;
}
.comment li{
	font-size: 10px;
	height: 15px;
	background-color:#F9F9F9 ;
	margin-right: 2%;
	list-style-type: none;
}
.user-reply .reply-in {
	float:left;
	width:60%;
	height:50px;
}
.user-reply .reply-in input {

width:
100%;

height:
30px;

margin-top:
10px;

margin-left:
10px;

}
.user-reply .reply-buttons {

float:
right;
margin-top:
11px;

}
.user-reply .reply-buttons .btn-comment {

float:right;
font-size: 10px;
margin-right:
14px;

background-color:
#1BB394;

border:
none;

color:
white;

}
.user-reply .reply-buttons .btn-cancel {

float:
right;

font-size: 10px;
margin-right:
10px;

}
